body {
    box-sizing: border-box;
    margin: 0;
    background: white;
    text-align: center;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/*#education {*/
/*    !*padding-bottom: 25%;*!*/
/*}*/

.title {
    font-size: 30px;
    font-family: nobel, sans-serif;
    color: #7E7474;
    font-weight: 100;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page_content {
    width: 100%;
}

.navbar {
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.navbar a {
    float: left;
    display: block;
    padding: 22px 28px;
    text-decoration: none;
    font-size: 18px;
    font-family: nobel, sans-serif;
    color: #7E7474;
}

.navbar a:hover {
    color: white;
    background-color: #7E7474;
    transition: all 0.3s ease;
}

/*.navbar a.active {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

.navbar .icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*About Me*/
#about {
    /*position: relative;*/

    /* position: relative; */
    /* display: inline-block; */

    /* display: flex; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-content: center; */
    /* padding-bottom: 50px; */

    /* flex-direction: row; */
    /* overflow: hidden; */
    /*padding-bottom: 100px;*/
}


.about__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

* {
    margin: 0;
    padding:0;
}

.terminal {
    /* position: relative; */
    /*width: 400px;*/

    padding-left: 30px;
    padding-right: 30px;
    line-height: 23px;
    height: 390px;
    width: 850px;
    /* display: inline-block; */
    float: left;
    margin: 20px;
    /* overflow: hidden; */
    /*padding-bottom: 25px;*/
}

.terminal .terminal__caption {
    background: black;
    /*color: #7AFB4C;*/
    padding: 8px;
    color: white;
    text-align: left;
    white-space: pre-line;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
}

.hobbies {
    padding-left: 25px;
    text-align: left;
    white-space: pre-line;
}

.contact, .resume {
    padding-left: 25px;
    text-align: left;
    white-space: pre-line;
    text-decoration: underline;
    text-decoration-color: white;
}

.links {
    color: white;
}


.navigation {
    background: #E8E6E8;
    color: black;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.buttons {
    position: absolute;
    top: 7px;
    left: 5px;
}

.terminal .circle {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 15px;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
}

.terminal__title {
    text-align: center;
}

.red {
    background: #EC6A5F;
    border-color: #D04E42;
}

.green {
    background: #64CC57;
    border-color: #4EA73B;
}

.yellow {
    background: #F5C04F;
    border-color: #D6A13D;
}

.box__shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    border-radius: 5px;
}

.picture {
    height: 400px;
    /*object-fit: cover;*/
    /*float: left;*/
    margin: 20px;
    border-radius: 5px;
}

/* Projects */

.projects__container {
    /*background-color: #7E7474;*/
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.cafe__wrap, .discord__wrap, .pomodoro__wrap, .datafile__wrap, .portfolio__wrap {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    object-fit: cover;
    margin: 30px;
}

.cafe-img, .discord-img, .pomodoro-img, .datafile-img, .portfolio-img {
    border-radius: 25px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(221, 218, 218);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.cafe__wrap:hover .overlay, .discord__wrap:hover .overlay, .pomodoro__wrap:hover .overlay, .datafile__wrap:hover .overlay, .portfolio__wrap:hover .overlay {
    height: 100%;
    opacity: 0.9;
}

.cafe__description, .discord__description, .pomodoro__description, .datafile__description, .portfolio__description {
    color: rgb(53, 52, 52);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    text-decoration: none;
    font-weight: 100;
    font-family: nobel, sans-serif;
}

.proj-title {
    font-size: 18px;
    /* font-family: nobel, sans-serif; */
}

.proj-info {
    padding-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.proj-tools {
    padding-top: 15px;
    font-size: 13px;
}

.proj-link {
    color: rgb(53, 52, 52);
    text-decoration: none;
}

.proj-link:hover {
    color:rgb(107, 105, 105);
 }
/* Education */

.education {
    background-color: #7E7474;
    /* text-align: center; */
    /*position: relative;*/
    height: 980px;
    align-content: center;
    /* align-content: flex-start; */
}
.education__content {
/*    position: absolute;*/
/*    align-content: flex-start;*/
    align-content: center;
    text-align: center;
/*    !*bottom: 40px;*!*/
/*    !*left: 25%;*!*/
    display: inline-block;
/*    height: 600px;*/
}

.education__title{
    font-size: 30px;
    font-family: nobel, sans-serif;
    /* font-family: Baskerville; */
    color: white;
    font-weight: 100;
    padding-top: 40px;
    padding-bottom: 0px;
}

.school {
    display: inline-block;
}

.school__cap {
    float: right;
    /* font-size: 18px; */
    /* font-family: nobel, sans-serif; */
    font-family: Baskerville;
    color: white;
    font-weight: 100;
    padding-top: 25px;
}

.school-name {
    font-size: 20px;
    color: white;
    font-weight: 100;
}

.degree {
    font-size: 18px;
    color: white;
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 100; 
}

.graduation {
    font-size: 16px;
}

.ubclogo {
    width: 92px;
    padding-top: 20px;
    float: left;
}

.education__container {
    text-align: -webkit-left;
    font-family: Baskerville;
    /* font-family: nobel, sans-serif; */
}

.subtitle{
    font-size: 20px;
    text-align: -webkit-left;
    color: white;
    font-weight: 100;
    padding-top: 15px;
}

.subsubtitle {
    font-size: 18px;
    /* font-family: nobel, sans-serif; */
    font-family: Baskerville;
    color: white;
    font-weight: 100;
    padding-top: 0px;
}

.courses {
    text-align: -webkit-left;
    /* align-items: flex-start; */
    display: inline-block;
    font-family: Baskerville;
    /* font-family: nobel, sans-serif; */
    color: white;
    font-weight: 100;
    padding-top: 5px;
    font-size: 18px;
}

.progress {
    padding-top: 18px;
    text-align: center;
    font-size: 15px;
    color: white;
}

ul {
    list-style-type: circle;
}

li {
    margin-bottom: 5px;
}

/* Footer */

.footer {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.links-container {
    align-content: center;
    /* margin-left: 20px; */
}

.linklogo {
    max-width: 35px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-caption {
    color: #7E7474;
    font-family: nobel, sans-serif;
    padding-top: 10px;
    font-size: 14px;
    line-height: 20px;
}
